@model WebProje.Models.Randevu

<div class="container mt-5">
    <a asp-controller="Home" asp-action="UserDashboard" class="btn btn-secondary">Geri</a>
    <h2>Randevu Al</h2>

    <!-- Başarı mesajı -->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-action="Create" method="post">
        <div class="form-group w-25">
            <label for="CalisanId">Çalışan Seçin</label>
            <select class="form-control" id="CalisanId" name="CalisanId" required>
                <option value="">Seçiniz</option>
                @foreach (var calisan in ViewBag.Calisanlar)
                {
                    <option value="@calisan.Id">@calisan.AdSoyad (@calisan.UzmanlikAlani)</option>
                }
            </select>
        </div>

        <div class="form-group w-25">
            <label for="Islem">İşlem Seçin</label>
            <select class="form-control" id="Islem" name="Islem" required>
                <option value="">Seçiniz</option>
                @foreach (var islem in ViewBag.Islemler)
                {
                    <option value="@islem.Ad" data-ucret="@islem.Ucret">@islem.Ad - @islem.Ucret.ToString("C")</option>
                }
            </select>
        </div>

        <div class="form-group w-25">
            <label for="RandevuSaati">Randevu Saati</label>
            <input type="datetime-local" class="form-control" id="RandevuSaati" name="RandevuSaati" required />
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary">Randevu Al</button>
        </div>
    </form>
</div>
